.icon {
  width: $icon-size;
  height: $icon-size;
  &.icon-sm {
    width: $icon-size-sm;
    height: $icon-size-sm;
  }
  &.icon-md {
    width: $icon-size-md;
    height: $icon-size-md;
  }
  &.icon-lg {
    width: $icon-size-lg;
    height: $icon-size-lg;
  }
  &.icon-xl {
    width: $icon-size-xl;
    height: $icon-size-xl;
  }

  .icon-black {
    fill: $black;
  }
}